body {
    font-family: PT Sans;
    margin: 0;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.backlogTableRow {
    height: 80px;
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 8px; 
    border-top-left-radius: 8px; 
    display: flex;
}

.backlogTableRow tr {
    width: calc(33% - 8px);
}

.backlogAssignedToPicture {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 100%;
    margin-left: 8px;
    margin-right: 16px;
}

.placeholder {
    height: 10px;
}

.headline {
    margin: 0;
}

.margin0 {
    margin: 0;
}

.fontColor {
    color: #1E3190;
}

.marginBottom {
    margin-bottom: 32px;
}

.urgency {
    width: 4px;
}

.urgencyColor {
    background-color: black;
}

.urgencyColorRed {
    background-color: red;
}

.assignedTo {
    background-color: #f4f3fb;
    display: flex;
    align-items: center;
    width: 35%;
}

.category {
    background-color: #f4f3fb;
    width: 25%;
    display: flex;
    align-items: center;

}

.details {
    background-color: #f4f3fb;
    border-bottom-right-radius: 8px; 
    border-top-right-radius: 8px; 
    display: flex;
    align-items: center;
    width: 35%;
    width: 40%;
}