@font-face {
  font-family: "pt-sans";
  src: url("./fonts/pt-sans-v17-latin-ext_latin_cyrillic-ext_cyrillic-700.ttf");
}
* {
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(219, 255, 196, 0.473);
  font-family: pt-sans;
}
.columns-container {
  height: 95%;
  width: 95%;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
  flex-wrap: wrap;
}
.column {
  /* border-radius: 1%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; */
  min-width: 220px;
  width: 23%;
  height: 92%;
  position: relative;
  background-color: rgb(255, 251, 246);
  box-shadow: 5px 5px 10px 0px rgb(125, 125, 125);
  text-shadow: 0px 0px white;
  transition: all 200ms;
}
.column:hover {
  height: 100%;
  transition: all 100ms;
  flex-grow: 1;
}

.column::before {
  position: absolute;
  top: -40px;
  right: 10%;
  width: 50%;
  height: 80px;
  text-align: center;

  border-radius: 50%;
  padding-top: 10px;

  z-index: -10;
  background-color: rgb(65, 59, 255);
  border: 2px solid orangered;
  color: white;
  letter-spacing: 2px;
  transition: all 200ms;
}
.column:hover::before {
  top: 0;
  right: 0;
  z-index: 5;
  border-radius: 0%;
  height: 2rem;
  width: 99%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: all 200ms; */
  border-radius: 2px;
  padding-bottom: 10px;
}
.first::before {
  content: "TO DO";
}
.second::before {
  content: "DOING";
}
.third::before {
  content: "TESTING";
}

.fourth::before {
  content: "DONE";
}
.small {
  margin-right: 10px;
  margin-left: auto;
  width: calc(100% - 160px);
}
@media (max-width: 960px) {
  .column {
    height: 40%;
  }
  .columns-container {
  }
  .column:hover {
    flex-grow: 1;
    height: 70%;
  }
  .column {
    flex-grow: 1;
  }
}
