@font-face {
  font-family: "pt-sans";
  src: url("./fonts/pt-sans-v17-latin-ext_latin_cyrillic-ext_cyrillic-700.ttf");
}
* {
  margin: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;
}
*::before {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(219, 255, 196, 0.473);
  font-family: pt-sans;
}
.columns-container {
  height: 95%;
  width: 95%;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
  flex-wrap: wrap;
}
.column {
  border: 2px solid orangered;
  border-top: 3px solid orangered;
  /* border-radius: 1%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; */
  min-width: 220px;
  width: 23%;
  height: 100%;
  position: relative;
  background-color: rgba(255, 251, 246, 0.536);
  box-shadow: 5px 5px 10px 0px rgb(125, 125, 125);
  text-shadow: 0px 0px white;
  transition: all 200ms;
  /* display: flex; */
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  padding-top: 40px;
  border-radius: 10px;
}
.column > * {
  width: 100%;
}
.column:hover {
  /* height: 100%; */
  /* transition: all 100ms; */
}

.column::before {
  position: absolute;
  top: 0px;

  right: 10%;

  width: 50%;
  height: 80px;
  text-align: center;

  border-radius: 50%;
  padding-top: 40px;

  z-index: 10;
  background-color: rgb(65, 59, 255);
  border: 2px solid orangered;
  color: white;
  letter-spacing: 2px;
  transition: all 200ms;
  transform: translate(0, -50%);
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
}
.column:hover::before {
  top: 40px;
  right: 0;

  z-index: 5;
  border-radius: 0%;
  height: 2rem;
  width: calc(100% + 2px);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: all 200ms; */
  border-radius: 2px;
  padding-bottom: 20px;
  transform: translate(1.5px, -100%);
}
.first::before {
  content: "TO DO";
}
.second::before {
  content: "DOING";
}
.third::before {
  content: "TESTING";
}

.fourth::before {
  content: "DONE";
}
.small {
  margin-right: 10px;
  margin-left: auto;
  width: calc(100% - 160px);
}
/*
Task styles
*/
.tasks-cont {
  overflow: scroll;
  position: relative;
  z-index: 50;
}
.task-cont {
  margin-bottom: 5px;
  border-bottom: 2px solid green;
  margin-top: 5px;
  padding-right: 1%;
  padding-left: 2%;
  background-color: rgba(205, 98, 15, 0.118);
  max-height: 150px;
  min-height: 80px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-bottom: 10px;
  border-radius: 10px;
  /* height: fit-content; */
  /* height: max-content; */
}
.task-cont:last-child {
  border: none;
}
.task-cont > * {
  max-width: 220px;
  transition: all 200ms;
}
.task-cont > *:hover {
  max-width: 220px;
}
.task-cont:hover {
  background-color: rgba(205, 98, 15, 0.318);
  transition: all 50ms;
  /* flex-basis: 100%; */
}
.task-title {
  border-bottom: 1px dotted lightseagreen;
  width: fit-content;
  padding-right: 10px;
  border-bottom-right-radius: 10%;
  min-height: 20px;
  max-height: 60px;
  /* overflow: hidden; */
}
.task-description {
  opacity: 0.6;
  margin-left: 10px;
  /* word-break: break-all; */
  white-space: normal;
}
@media (max-width: 1080px) {
  .column {
    height: 50%;
    flex-basis: 50%;
    /* min-height: fit-content; */
    width: 45%;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
  }

  .columns-container {
    justify-content: center;
  }
  .column:hover {
    /* height: 50%; */
  }
}
@media (max-width: 550px) {
  .columns-container {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
  }
  .column {
    height: 90%;
    width: 70%;
    min-width: 220px;
  }
  .column:hover {
    /* height: 90%; */
  }
}
.overflow-scroll {
  /* min-height: max-content; */
}
.overflow-toggle {
  position: absolute;
  top: 5px;
  right: 5px;
  transform: scale(1.5, 1);
  color: brown;
  cursor: pointer;
}
.rotated {
  transform: scale(1.5, 1) rotate(-180deg);
  transition: all 200ms;
}

.show-everything {
  max-height: unset;

  overflow: scroll;
  flex-basis: 100%;
  /* height: max-content; */
  /* max-height: 90vh; */
  padding-bottom: 20px;
}
