* {
  margin: 0;
}

:root {
  --our-color: #1e3190;
} 

.sidebar {
  position: fixed;
  height: 95%;
  left: 0;
  top: 2.5%;
  width: 140px;
  border: 2px solid var(--our-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--our-color);
  box-shadow: 0 2px 5px 0px black;
  border-radius: 3px;
}

.logo {
  width: 50px;
  margin-left: 20%;
  margin-top: 30px;
}

.small {
  margin-right: 10px;
  margin-left: auto;
  width: calc(100% - 160px);
}

.navCont {
  height: 30%;
  width: 100%;
  color: white;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  justify-content: space-evenly;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: white;
}

.link::after {
  content: "";
  height: 0%;
}

.link:hover::after {
  content: "";
  position: absolute;
  height: 100%;
  background-color: white;
  width: 5px;
  bottom: 0;
  left: 2px;

  transition: all 300ms;
}

.sidebar-toggle {
  position: fixed;
  top: 20px;
  left: 100px;
  font-size: 2rem;
  color: white;
  height: 40px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 200ms;
  z-index: 10;
}

#sidebar-toggle span {
  height: 10px;
  font-stretch: expanded;
  transform: scale(3, 1);
}

#sidebar.sidebar-small {
  opacity: 0;
  transition: all 500ms;
}

.sidebar-small {
  top: 0;
  left: 0;
}

.burger-small {
  color: gray;
  left: 20px;
}

.d_none {
  display: none;
}

.logo {
  width: 50px;
  margin-left: 20%;
  margin-top: 30px;
}

.navCont {
  height: 30%;
  width: 100%;
  color: white;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  justify-content: space-evenly;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  cursor: pointer;
  position: relative;
}

.link::after {
  content: "";
  height: 0%;
}

.link:hover::after {
  content: "";
  position: absolute;
  height: 100%;
  background-color: white;
  width: 5px;
  bottom: 0;
  left: 2px;
  transition: all 300ms;
}