body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 255, 0.353),
    rgba(255, 68, 0, 0.444)
  );
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  margin-top: 100px;
  align-items: center;
  height: 70%;
  width: 50%;
  background-color: rgba(89, 0, 255, 0.025);
  outline: 2px solid white;
  padding: 30px;
  min-width: 450px;
}
form > * {
  height: 2rem;
  background-color: rgba(128, 128, 128, 0.177);
  border: 1px solid lightblue;
}
.small {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  background-color: rgba(255, 68, 0, 0.695);
  margin-bottom: auto;
  margin-top: 0;
  width: 80%;
  color: white;
  padding-left: 30px;
}
input:focus {
  background-color: rgba(255, 68, 0, 0.986);
}
label {
  background-color: rgba(0, 0, 255, 0.748);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 20%;
  transform: translate(-100px, -2px);
  white-space: nowrap;
}

button {
  cursor: pointer;
  outline: 4px solid rgba(172, 255, 47, 0.221);
  margin-bottom: 50px;
  margin-top: auto;
  transition: all 300ms;
}
button:hover,
button:focus {
  background-color: rgba(255, 255, 255, 0.277);
  transform: scale(1.3) skew(0deg, 0deg);
}
